*{
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
	
}

body{
	font-family: arial;
	background-color: #fff;
	padding: 0px;
	margin: 0px;
}
header li,a,button{
	font-family: sans-serif;
	font-weight: 500;
	font-size: 16px;
	color: red;
	text-decoration: none;
}
header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px,10%;
	background-color: #09EDED;
	min-height: 40px;
	border-bottom: 10px;
	border-color: blue;
}
.logo{
	cursor: pointer;
	margin-left:10px;
	height: 60px;
	padding-top: 20px;
	margin-bottom: 10px;
}
.nav-link{
	list-style: none;
}
.nav-link li{
	display: inline-block;
	padding: 0px 10px;
}

.nav-link li a{
	transition: all 0.3s ease 0s;
}
.nav-link li a:hover{
	color: #0088a9;
}
.sidebaricon{
	width: 22px;
	height: 22px;
	position: absolute;
	z-index: 20;
	top: 22px;
	left: 15px;

}
#sidebarMenu{
	height: 100%;
	position: fixed;
	background-color: white;
	right: 0;
	top: 80;
	width: 250px;
	margin-top: 0px;
	background-color: #2e86de;
}

.menu{
	list-style: none;
	padding: 10px;
	margin: 0px;
}
.menu li{
	color: #fff;
	border-bottom: 1px  solid rgba(255,255,255,.10);
}
.menu li a{
	color: #fff;
	display: block;
	text-decoration: none;
	text-transform: uppercase;
	padding: 20px;
}
.container{
	min-height: 30px;
	width: 100%;
	font-family: serif;

}

.titledbackground{
	background-image:  url(./welcome.jpeg) ;
	background-size: 100%;
	min-height: 300px;
	border: 2px solid;
	opacity: .8;	
}

#Welcome{
	text-align: center;
}

#Welcome h1 {
	color: #FB7908;
	padding-top: 20px;
}
#Welcome h2{
	color: #FB7908;
	padding-top: 20px;
}

#aboutchemicalengineering{
	
	text-align: none;
	font-style: serif;
	background-color: #cccccc;
}
#aboutchemicalengineering p ,button{
 padding: 10px;
}
#aboutchemicalengineering h2{
	padding: 10px;
	background-color: #9F9CAD; 
}
#more{
	display: none;
}
#aboutchemicalengineering button{
	background-color: #ff0066;
	border : none;
	outline: none;
	color: white;
	padding: 5px;
	margin-bottom: 5px;
}
#chemicalmnnit{
	width: 100%;
	font-style: serif;
	padding: 0px;
}
#chemicalmnnit h2{
	padding: 10px;
	background-color: #9F9CAD; 
}
#aboutmnnitchemicalengineering{
	background-color: #cccccc;
	padding: 5px;
}
button{
	padding: 9px 25px;
	background-color: rgba(0,136,169,1);
	border none;
	border-radius: 52px;
	cursor: pointer;
	transition: all 0.3s ease 0s;
	margin-right: 20px;

}
button:hover{
	background-color: rgba(0,136,169,.8)
}
#recuiters{
   padding: 0px;
   background-color:#cccccc; 
}
#recuiters h2{
	background-color:#9F9CAD;
	padding: 10px;
}
#recuiters p{
	padding: 5px;
}
#recuiters li{
	padding: 3px;
	margin-left: 25px;
}
#placement{
	padding: 0px;
	width: 100%;
	text-align: center;

}
#placement h2{
	padding: 10px;
	border-bottom: 2px blue;
	background-color: #cccccc;
}

table, th ,td{
	border:2px solid black;
	border-collapse: collapse;
	padding: 10px;

}
table th{
	background-color: #8CBEEA;
	color: rgb(255,0,0);
}
table td{
	background-color: #33FFFF;
	border-radius: 10px;
}
#developer{
	background-color:#0B1E16;
	color: white;
	padding: 10px;
	text-align: center;
}

footer{
	min-height: 30px;
	background-color: #080501; 
	color: white;
	padding: 20px;
	font-size: 20;
	text-align: center;
}


.aboutbackground{
	background-image:  url(./subjectback.jpeg) ;
	background-size: 100%;
	min-height: 300px;
	border: 2px solid;
	opacity: 1.2;	
}

.bookcontent{
	text-align: center;
	padding: 10px;
	padding-left: 50px;
}


#book{
	
	width: 80%;
	color: white;
}

#lab{
	width: 100%;
    background-color:#cccccc;
}
#lab h2{
	background-color: #9F9CAD; 
	padding: 10px;
}
.labmnnit{
	padding: 10px;
	display: flex;
}	
.pad10{
	padding-left: 10;
}

.chemlab{
	width: 50%;
	padding-right: 2px;
	background-color: #fff;

}
.chemlab h4{
	padding: 10px;
	background-color: #9F9CAD; 
}
.chemlab ol{
	padding-left: 30px;
}
.chemlab li{
	padding: 5px;
}

#research{
	padding: 0px;
	width: 100%;
	background-color: #cccccc;
}
.researchchemical h2{
	padding: 20px;
	background-color: #8C8C8C;
}
.researchchemical p{
	padding: 5px;
}
.researchchemical ol{
	padding-left: 40px
}
.researchchemical li{
	padding: 2px;
}
